{% extends "home/header.html" %}

{#{% load cache %}#}
{#{% cache 500 content %}#}
{% block content %}
    {% if username %}
        <h2>Hi {{ username }}! You are logged!. Logined count: {{ count }}</h2>
    {% else %}
        <h2>Hi anonymous! You are not logged. Not logined count: {{ not_count }}</h2>
    {% endif %}


    <p>{{ message }}</p>
    <p><a href="/blog/my_view_choose">Choose another block</a></p>
    <p>Available posts:</p>
    {% for one_post in posts %}
        <p>{{ one_post }}</p>
    {% endfor %}

{##}
{#  <form action="" method="post">#}
{#    <label for="username">User name:</label>#}
{#    <input type="text" name="username" value="" id="username">#}
{#    <label for="password">Password:</label>#}
{#    <input type="password" name="password" value="" id="password">#}
{##}
{#    <input type="submit" value="login" />#}
{#    <input type="hidden" name="next" value="{{ next|escape }}" />#}
{#  </form>#}

{% endblock %}
{#{% endcache %}#}